/* This defines styles and classes used in the book */
@font-face {
  font-family: LiberationSans;
  font-style: normal;
  font-weight: normal;
  src:url("LiberationSans-Regular.ttf");
}

@font-face {
  font-family: LiberationSans;
  font-style: italic;
  font-weight: normal;
  src:url("LiberationSans-Italic.ttf");
}

@font-face {
  font-family: LiberationSans;
  font-style: normal;
  font-weight: bold;
  src:url("LiberationSans-Bold.ttf");
}

@font-face {
  font-family: LiberationSans;
  font-style: italic;
  font-weight: bold;
  src:url("LiberationSans-BoldItalic.ttf");
}

@font-face {
  font-family: Fanwood;
  font-style: normal;
  font-weight: normal;
  src:url("fanwood_text-webfont.ttf");
}

@font-face {
  font-family: Fanwood;
  font-style: italic;
  font-weight: normal;
  src:url("fanwood_italic-webfont.ttf");
}

@font-face {
  font-family: Fanwood;
  font-style: italic;
  font-weight: bold;
  src:url("fanwood_italic-webfont.ttf");
}

body {
  font-size: 14pt;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 20pt;
}

ol.toc li {
  font-size: 13pt;
}

ol.toc li ol { 
  font-size: 12pt;
}

pre.sourceCode {
  font-size: 10pt;
}

p, ol, ul {
  line-height: 1.4;
  font-size: 13pt;
}

body {
  margin: 5%; text-align: justify;
}

code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3, h4, h5, h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }

body { 
  font-family: LiberationSans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Fanwood;
}


ol.toc { padding: 0; margin-left: 1em; }
ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, a {
  color: #126D8F;
  text-decoration: none;
}
ol.toc li a {
  text-decoration: none!important;
  color: #126D8F;
  font-style: normal;
}

ol.toc { font-family: Fanwood; }

ol.toc li {
}

ol.toc li ol { 
  margin-left: 0.75em;
}

ol.toc li ol li a {
  font-style: italic;
  color: black;
}


pre.sourceCode {
  font-family: 'Anonymous Pro', monospace;
  background: #F5F5F5;
  padding: 10pt;
  overflow: wrap;
  white-space: pre-wrap;
}


h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, p code, li code {
  font-size: 90%!important;
  font-weight: normal!important;
}
